# List

In [1]:
# A list is a container which can hold different data types in it.

In [1]:
list = [ 'Akshay', 522, 12, 11.11]

In [2]:
list.append('Delhi')     # to add object at last of the list
list

['Akshay', 522, 12, 11.11, 'Delhi']

In [3]:
list.remove(522)         # to remove particular object
list

['Akshay', 12, 11.11, 'Delhi']

In [4]:
list.insert(1, [1,2,3])   # to add object at specific index
list

['Akshay', [1, 2, 3], 12, 11.11, 'Delhi']

In [5]:
list.index(11.11)   # to find the index number of particular object

3

In [14]:
list.clear()        # to empty the list
list

[]

# Dictionaries

In [16]:
# Dictionary are unordered Key-Value pair, it is complex Dict class in Python.
# {"KEY":"VALUE"}

In [6]:
dict1 = {'name':'Akshay', 'age':'26', 'number':'123455557', 'email':'efg@gmail.com'}
dict1

{'name': 'Akshay',
 'age': '26',
 'number': '123455557',
 'email': 'efg@gmail.com'}

In [7]:
dict1.get('name')

'Akshay'

In [8]:
dict1.pop('age')

'26'

In [9]:
dict1['status'] = 'engaged'         # adding a new element to a dictionary
dict1

{'name': 'Akshay',
 'number': '123455557',
 'email': 'efg@gmail.com',
 'status': 'engaged'}

In [26]:
dict1.keys()

dict_keys(['name', 'number', 'email', 'status'])

In [10]:
dict1.values()

dict_values(['Akshay', '123455557', 'efg@gmail.com', 'engaged'])

# Sets

In [29]:
# Sets are used for storing unique values in Python, sets are complex data structures.
# Sets are used for finding common and uncommon objects in Python data types.

In [11]:
set1 = {'Akshay', 'letsupgrade', 1,2,3,4,5,6,6,7,7,7,8}
set1

{1, 2, 3, 4, 5, 6, 7, 8, 'Akshay', 'letsupgrade'}

In [15]:
set2 = {'letsupgrade',1994,29}
set2

{1994, 29, 'letsupgrade'}

In [16]:
set2.issubset(set1)

False

In [14]:
set2.intersection(set1)

{7, 8, 'letsupgrade'}

In [17]:
set1.add(10.23)
set1

{1, 10.23, 2, 3, 4, 5, 6, 7, 8, 'Akshay', 'letsupgrade'}

In [20]:
set2.remove(29)
set2

{1994, 'letsupgrade'}

In [21]:
set1.clear()
set1

set()

# Tuples

In [1]:
# Tuples are ordered immutable collection of objects.
# Once the data is written its in that forever.

In [23]:
tup = ('Rani', '#', '%', '@gmail.com', '@xyz.com')
tup

('Rani', '#', '%', '@gmail.com', '@xyz.com')

In [3]:
tup.count('@gmail.com')

1

In [24]:
tup.index('Rani')

0

# Boolean

In [5]:
# This is the basic data types which stores TRUE or FALSE.

In [25]:
cities = ['Nagpur', 'Mumbai', 'Surat', 'Delhi', 'Osaka']
cities

['Nagpur', 'Mumbai', 'Surat', 'Delhi', 'Osaka']

In [27]:
'Pune' in cities

False

In [26]:
'Mumbai' in cities

True